<h1 class="text-center mb-5 abedul-color1">
    Productos
</h1>
<div class="row">
    <div class="col-md-12 dish-menu">

        <div class="nav nav-pills justify-content-center mrf-animate" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link py-3 px-4 active" id="v-pills-pan-tab" data-toggle="pill" href="#v-pills-pan" role="tab" aria-controls="v-pills-pan" aria-selected="true">
                <span class="flaticon-bread"></span> Cortinas y Persianas</a>
            <a class="nav-link py-3 px-4" id="v-pills-pasteleria-tab" data-toggle="pill" href="#v-pills-pasteleria" role="tab" aria-controls="v-pills-pasteleria" aria-selected="false">
                <span class="flaticon-cake"></span> Empavonados</a>
            <a class="nav-link py-3 px-4" id="v-pills-pizza-tab" data-toggle="pill" href="#v-pills-pizza" role="tab" aria-controls="v-pills-pizza" aria-selected="false">
                <span class="flaticon-pizza"></span> Cintas Autodeslizantes y demarcatorias</a>
            <a class="nav-link py-3 px-4" id="v-pills-postres-tab" data-toggle="pill" href="#v-pills-postres" role="tab" aria-controls="v-pills-postres" aria-selected="false">
                <span class="flaticon-pie"></span> Pisos Corporativos</a>
            <a class="nav-link py-3 px-4" id="v-pills-postres-tab" data-toggle="pill" href="#v-pills-postres" role="tab" aria-controls="v-pills-postres" aria-selected="false">
                <span class="flaticon-pie"></span> Diseño de interiores</a>
            <a class="nav-link py-3 px-4" id="v-pills-postres-tab" data-toggle="pill" href="#v-pills-postres" role="tab" aria-controls="v-pills-postres" aria-selected="false">
                <span class="flaticon-pie"></span> Impresion Digital</a>
            <a class="nav-link py-3 px-4" id="v-pills-postres-tab" data-toggle="pill" href="#v-pills-postres" role="tab" aria-controls="v-pills-postres" aria-selected="false">
                <span class="flaticon-pie"></span> Laminas</a>
        </div>

        <div class="tab-content py-5" id="v-pills-tabContent">
            <!-- TAB PANES -->
            <div class="tab-pane fade show active" id="v-pills-pan" role="tabpanel" aria-labelledby="v-pills-pan-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-amasado-1.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado">
                                <img class="menu-img" src="../../../assets/img/productos/pan-amasado-1.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <a href="../../../assets/img/productos/pan-amasado-2.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado" style="display:none;">
                                <img src="../../../assets/img/productos/pan-amasado-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Amasado</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-toscano.jpg" data-lightbox="pan-toscano" data-title="Pan Toscano">
                                <img class="menu-img" src="../../../assets/img/productos/pan-toscano.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Toscano</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$300<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-centeno-1.jpg" data-lightbox="pan-centeno" data-title="Pan Centeno">
                                <img class="menu-img" src="../../../assets/img/productos/pan-centeno-1.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <a href="../../../assets/img/productos/pan-centeno.jpg" data-lightbox="pan-centeno" data-title="Pan Centeno" style="display:none;">
                                <img src="../../../assets/img/productos/pan-centeno.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Centeno</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-ajo-oregano-1.jpg" data-lightbox="pan-ajo-oregano" data-title="Pan Ajo Oregano">
                                <img class="menu-img" src="../../../assets/img/productos/pan-ajo-oregano-1.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <!-- <a href="../../../assets/img/productos/pan-ajo-.jpg" data-lightbox="pan-centeno" data-title="Pan Centeno" style="display:none;">
                                            <img src="../../../assets/img/productos/pan-centeno.jpg">
                                        </a> -->
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Ajo Oregano</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$300<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->
            <!-- TAB PASTELERIA -->
            <div class="tab-pane fade" id="v-pills-pasteleria" role="tabpanel" aria-labelledby="v-pills-pasteleria-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-observacion mrf-animate">
                            <ul class="">
                                <li class="">* Tortas 10 Personas $18.000</li>
                                <li class="">* Tortas 20 Personas $28.000</li>
                                <li class="">* Tortas 30 Personas $40.000</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/torta-pina-colada-1.jpg" data-lightbox="torta-pina-colada" data-title="Torta Piña Colada">
                                <img class="menu-img" src="../../../assets/img/productos/torta-pina-colada-1.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <a href="../../../assets/img/productos/torta-pina-colada-2.jpg" data-lightbox="torta-pina-colada" data-title="Torta Piña Colada" style="display:none;">
                                <img src="../../../assets/img/productos/torta-pina-colada-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Torta Piña Colada</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/torta-pina-colada-1.jpg" data-lightbox="torta-pina-colada" data-title="Torta Piña Colada">
                                <img class="menu-img" src="../../../assets/img/productos/torta-pina-colada-1.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <a href="../../../assets/img/productos/torta-pina-colada-2.jpg" data-lightbox="torta-pina-colada" data-title="Torta Piña Colada" style="display:none;">
                                <img src="../../../assets/img/productos/torta-pina-colada-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Torta Piña Colada</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/torta-frutilla-1.jpg" data-lightbox="torta-frutilla" data-title="Torta Frutilla">
                                <img class="menu-img" src="../../../assets/img/productos/torta-frutilla-1.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <a href="../../../assets/img/productos/torta-frutilla-2.jpg" data-lightbox="torta-frutilla" data-title="Torta Frutilla" style="display:none;">
                                <img src="../../../assets/img/productos/torta-frutilla-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Torta Frutilla</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/torta-frutilla-1.jpg" data-lightbox="torta-frutilla" data-title="Torta Frutilla">
                                <img class="menu-img" src="../../../assets/img/productos/torta-frutilla-1.jpg">
                                <div class="tamano-menu"></div>
                            </a>
                            <a href="../../../assets/img/productos/torta-frutilla-2.jpg" data-lightbox="torta-frutilla" data-title="Torta Frutilla" style="display:none;">
                                <img src="../../../assets/img/productos/torta-frutilla-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Torta Frutilla</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->

            <div class="tab-pane fade" id="v-pills-empanadas" role="tabpanel" aria-labelledby="v-pills-empanadas-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-amasado-1.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado">
                                <img class="menu-img" src="../../../assets/img/productos/pan-amasado-1.jpg">
                            </a>
                            <a href="../../../assets/img/productos/pan-amasado-2.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado" style="display:none;">
                                <img src="../../../assets/img/productos/pan-amasado-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Amasado</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-amasado-1.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado">
                                <img class="menu-img" src="../../../assets/img/productos/pan-amasado-1.jpg">
                            </a>
                            <a href="../../../assets/img/productos/pan-amasado-2.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado" style="display:none;">
                                <img src="../../../assets/img/productos/pan-amasado-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Amasado</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TAB PANEL -->
            <div class="tab-pane fade" id="v-pills-pizza" role="tabpanel" aria-labelledby="v-pills-pizza-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-amasado-1.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado">
                                <img class="menu-img" src="../../../assets/img/productos/pan-amasado-1.jpg">
                            </a>
                            <a href="../../../assets/img/productos/pan-amasado-2.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado" style="display:none;">
                                <img src="../../../assets/img/productos/pan-amasado-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Amasado</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-amasado-1.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado">
                                <img class="menu-img" src="../../../assets/img/productos/pan-amasado-1.jpg">
                            </a>
                            <a href="../../../assets/img/productos/pan-amasado-2.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado" style="display:none;">
                                <img src="../../../assets/img/productos/pan-amasado-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Amasado</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TAB PANEL -->
            <div class="tab-pane fade" id="v-pills-postres" role="tabpanel" aria-labelledby="v-pills-postres-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-amasado-1.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado">
                                <img class="menu-img" src="../../../assets/img/productos/pan-amasado-1.jpg">
                            </a>
                            <a href="../../../assets/img/productos/pan-amasado-2.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado" style="display:none;">
                                <img src="../../../assets/img/productos/pan-amasado-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Amasado</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="menus d-flex mrf-animate">
                            <a href="../../../assets/img/productos/pan-amasado-1.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado">
                                <img class="menu-img" src="../../../assets/img/productos/pan-amasado-1.jpg">
                            </a>
                            <a href="../../../assets/img/productos/pan-amasado-2.jpg" data-lightbox="pan-amasado" data-title="Pan Amasado" style="display:none;">
                                <img src="../../../assets/img/productos/pan-amasado-2.jpg">
                            </a>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Pan Amasado</h3>
                                    <p><span>Harina</span>, <span>Manteca</span>, <span>Levadura</span></p>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$200<small>c/u</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TAB PANEL -->
        </div>
    </div>
</div>