<h1 class="text-center abedul-color1">
    Contacto
</h1>
<div class="row">
    <div class="col-xl-8 offset-xl-2 py-5">
        <form id="contact-form" class="needs-validation" novalidate>

            <div class="messages"></div>

            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_nombre">Nombre *</label>
                            <input id="form_nombre" type="text" name="nombre" class="form-control" placeholder="Por favor ingrese su nombre *" required="required" data-error="El nombre es requerido.">
                            <div class="invalid-feedback">
                                Ingrese su nombre.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_fono">Telefono *</label>
                            <input id="form_telefono" type="text" name="telefono" class="form-control" placeholder="Por favor ingrese su telefono *" required="required" data-error="El telefono es requerido.">
                            <div class="invalid-feedback">
                                Ingrese su Telefono.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Por favor ingrese su email *" required="required" data-error="Ingrese un email valido.">
                            <div class="invalid-feedback">
                                Ingrese Email valido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_asunto">Asunto *</label>
                            <select id="form_asunto" name="asunto" class="form-control" required="required" data-error="Por favor seleccione su asunto.">
                                    <option value="">--Seleccione--</option>
                                    <option value="Consulta">Consulta</option>
                                    <option value="Cotizacion">Cotización</option>
                                </select>
                            <div class="invalid-feedback">
                                Ingrese su Asunto.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_mensaje">Mensaje *</label>
                            <textarea id="form_mensaje" name="mensaje" class="form-control" placeholder="Por favor ingrese su mensaje *" rows="4" required="required" data-error="Por favor, dejanos un mensaje."></textarea>
                            <div class="invalid-feedback">
                                Ingrese su Mensaje.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-abedul-send" value="Enviar mensaje">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">
                            <strong>*</strong> Estos campos son requeridos.</p>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>