<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('../../assets/img/carousel/cortina1.jpg');">
        <div class="overlay">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-9 col-sm-12 mrf-animate">
                        <!-- <h1 class="mb-3">Cortinas y Persianas</h1> -->
                        <h1 class="mb-3">Ofrecemos soluciones integrales...</h1>
                        <div *ngIf="_router.url !== '/contacto'">
                            <p><a routerLink="/contacto" class="btn btn-abedul-4">Cotiza con nosotros!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('../../assets/img/carousel/empavonado1.jpg');">
        <div class="overlay">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-9 col-sm-12 mrf-animate">
                        <h1 class="mb-3">...Tenemos los mas altos estandares...</h1>
                        <div *ngIf="_router.url !== '/contacto'">
                            <p><a routerLink="/contacto" class="btn btn-abedul-4">Cotiza con nosotros!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('../../assets/img/carousel/letrero1.JPG');">
        <div class="overlay">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-9 col-sm-12 mrf-animate">
                        <h1 class="mb-3">...20 años de experiencia en el rubro de la decoracion...</h1>
                        <div *ngIf="_router.url !== '/contacto'">
                            <p><a routerLink="/contacto" class="btn btn-abedul-4">Cotiza con nosotros!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('../../assets/img/carousel/limpiapie1.jpg');">
        <div class="overlay">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-9 col-sm-12 mrf-animate">
                        <h1 class="mb-3">...Siempre a la vanguardia en seguridad, calidad y tendencias.</h1>
                        <div *ngIf="_router.url !== '/contacto'">
                            <p><a routerLink="/contacto" class="btn btn-abedul-4">Cotiza con nosotros!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>